footer {
  color: white;
  background-color: black;
  padding: 40px;
}
.headSections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

.about,
.office,
.follow,
.links {
  width: 25%;
}

.head {
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.elements {
  padding-top: 10px;
  text-align: justify;
  text-justify: inter-word;
  
}
#attributes{
  text-decoration: none;
  color: white;
}
.social,
.contact {
  display: flex;
}

.disclaimer {
  text-align: center !important;
}
